.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
  width: 25rem;
  padding: 2rem;

  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.action {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
}
